<h4>Hello <%= currentUser.userName %></h4>


<form method="POST" action="/home">
    <input type="text" name="item" placeholder="item name">
    <input type="number" name="page" placeholder="pages">
    <button>search</button>
</form>