<!DOCTYPE html>
<html>

<head>
    <title>My First App|Login</title>
</head>

<body>
    <h1>Login</h1>
    <p>Login</p>
    <form name="Login" method="post" action="/login">
        <input type="text" name="email"></input>
        <input type="password" name="password"></input>
        <input type="submit" value="login"></input>
    </form>
    <a href="/register">Not Registered?</a>
</body>

</html>