<!DOCTYPE html>
<html>

<head>
    <title>My Flip App|Register</title>
</head>

<body>
    <form name="SignUp" method="post" action="/register">
        <input type="text" placeholder="username" name="userName"></input>
        <input type="password" placeholder="password" name="password"></input>
        <input type="email" placeholder="email" name="email"></input>
        <input type="text" placehodler="firstname" name="firstName"></input>
        <input type="text" placeholder="lastname" name="lastName"></input>
        <input type="submit" value="Submit"></input>
    </form>
    <a href="/">Already Registered?</a>
</body>

</html>